<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Google Powered Site Search | Tutorialzine Demo</title>

<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles.css')}}" />

</head>

<body>

<div id="page">


    <form id="searchForm" method="post" name = searchForm>
		<fieldset>
        
           	<input id="s" type="text" name="query" />
            
            <input type="submit" value="Submit" id="submitButton" />
            
            <div id="searchInContainer">
                <input type="radio" name="check" value="site" id="searchSite" checked />
                <label for="searchSite" id="siteNameLabel">Search The ID</label>
                
                <input type="radio" name="check" value="web" id="searchWeb" />
                <label for="searchWeb">Search The ID</label>
			</div>
                        
            <ul class="icons">
            </ul>
            
        </fieldset>
    </form>


    <div id="resultsDiv">
    
    </div>
<!-- It would be great if you leave the link back to the tutorial. Thanks! -->
<p class="credit"><a href="https://tutorialzine.com/2010/09/google-powered-site-search-ajax-jquery/">Powered by Tzine &amp; Google</a></p>
    
<!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script--!>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{{url_for('static',filename = 'script.js')}}"></script>
</body>
</html>
